:root {
  --brown-color: #c6a466;
  --pink-color: #fde4b6;
  --black-color: #2c2e2f;
  --grey-color: #979797;
  --white-color: #ffffff;
  --roboto-font: 'Roboto Black';
  --open-sans-font: 'Open Sans';
}