#hero {
  position: relative;
  overflow: hidden;
}

#hero .grid-2 {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 50px;
}

#hero:after,
#post:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2000px;
  left: 50%;
  background: var(--pink-color);
}

.hero-img {
  position: relative;
  left: -140px;
}

.sale {
  color: var(--grey-color);
  margin-left: 1.5rem;
  position: relative;
}

.sale:after {
  content: '';
  position: absolute;
  top: 10px;
  height: 1px;
  left: -5px;
  right: -5px;
  background-color: var(--grey-color);
}

#products {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  padding: 0;
}

.product {
  border-right: 1px solid var(--border-color);
  padding: 4rem;
  text-align: center;
  position: relative;
}

.product img {
  margin-bottom: 2rem;
}

.sale-tag {
  position: absolute;
  top: 82px;
  left: 0;
  transform: rotate(-90deg);
  transform-origin: left top;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: var(--black-color);
  color: var(--white-color);
  letter-spacing: 1px;
  padding: 0.5rem 1.5rem;
}

#post {
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
  overflow: hidden;
}

#post:after {
  left: auto;
  right: 50%;
}

#post > .grid-2 {
  position: relative;
  z-index: 2;
}

#post .slick-slider {
  max-width: 50rem;
  margin-right: 0;
  margin-left: auto;
  position: relative;
  right: -10rem;
}

#post .slick-prev {
  left: 2rem;
  z-index: 1;
}

#post .slick-next {
  right: 2rem;
  z-index: 1;
}

#post .slick-prev:before,
#post .slick-next:before {
  content: '';
  width: 2rem;
  height: 2rem;
  display: block;
  border-top: 2px solid var(--white-color);
  border-right: 2px solid var(--white-color);
  transform: rotate(45deg);
}

#post .slick-prev:before {
  transform: rotate(-135deg);
}

#post .slick-dots {
  width: auto;
}

#post .slick-dots li {
  margin: 0;
}
#post .slick-dots li button {
  padding: 0;
  box-shadow: none;
}

#post .slick-dots li button:before {
  font-size: 1rem;
  color: var(--brown-color);
  opacity: 0.5;
}

#post .slick-dots li.slick-active button:before {
  opacity: 1;
}

.blog-wrapper {
  position: relative;
  left: 10rem;
}

#post .flex {
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

#post .heading {
  max-width: 35rem;
  text-align: center;
  margin: 1rem 0 3rem;
}

#post .sub-heading {
  margin-bottom: 2rem;
}

button.white-bg {
  background: var(--white-color);
  color: var(--black-color);
  box-shadow: none;
  border: 1px solid var(--grey-color);
}

#tabs {
  padding-top: 11.5rem;
  padding-bottom: 16.5rem;
}

.tab-filter {
  margin-bottom: 3rem;
}
.tab-filter input {
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: none;
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
  font-family: var(--open-sans-font);
  font-size: 1.2rem;
  padding: 1rem 3rem;
}

.tab-filter input.active {
  border-bottom: 1px solid var(--grey-color);
}
